# Ignore large files
*.pkl
# But DO track this one
!movie_dict.pkl
*.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore PyCharm project settings
.idea/

# Ignore system files
.DS_Store
Thumbs.db
